<div *ngIf="character !== undefined">
    <h1>{{ character.name }}</h1>
    <button mat-icon (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    <button mat-icon (click)="onSave()"><mat-icon>save</mat-icon></button>
    <div class="fields">
        @for(field of character.fields; track field.id) {
            @if(field.isVisible) {
                <div>

                    <span>{{field.name}}: </span>
                    <span>{{field.evaluate(fields)}}</span>
                </div>
            }
        }
    </div>
</div>