<div *ngIf="template !== undefined">
    <h1>{{ template.name }} Template</h1>
    <button mat-icon (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    <button mat-icon (click)="onSave()"><mat-icon>save</mat-icon></button>
    <div class="fields">
        @for(field of template.fields; track field.id) {
            <app-template-field [field]="field" (onDelete)="onFieldDelete($event)" (onChange)="onFieldChange($event)"></app-template-field>
        }
        <button mat-icon-button (click)="onAddField()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>